<template>
  <div class="container mx-auto min-h-screen flex justify-center items-center text-center">
    <div>
      <h1 class="block text-6xl font-normal font-sans text-teal-900">
        Шаблон Nuxt
      </h1>
      <h2 class="text-gray-600 text-4xl">
        Для быстрого начала разработки
      </h2>
      <div class="pt-6">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="border border-green-800 rounded p-4 bg-p text-p border-p hover:bg-p-h hover:text-p-h"
        >
          Nuxt Documentation
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
