<template>
  <input type="text" :placeholder="placeholder" :value="text" @input.stop="onInput" />
</template>

<script>
export default {
  model: {
    prop: 'text',
    event: 'input',
  },
  props: {
    placeholder: { type: String, default: undefined },
    text: { type: String, default: '' },
  },
  methods: {
    onInput(event) {
      this.$emit('input', event.target.value)
    },
  },
}
</script>
