<template>
  <label @click.prevent="$emit('toggle', !checked)">
    <input :name="name" type="checkbox" :checked="checked" hidden :value="checked" :disabled="disabled" />
    <slot :checked="checked"></slot>
  </label>
</template>

<script>
export default {
  model: {
    prop: 'checked',
    event: 'toggle',
  },
  props: {
    name: {
      type: String,
      default: '',
    },
    checked: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
