<template>
  <div
    ref="track"
    class="track"
    role="range"
    :tabindex="tabindex"
    @mousedown.left="startDragging"
    @dragstart.capture.stop.prevent=""
    @keydown="onKey"
    ><div ref="thumb" class="thumb" :style="{ left: `${valuePercent}%` }"><slot name="thumb" :drag="drag"></slot></div>
    <slot name="track" :drag="drag"></slot>
    <input type="hidden" :name="name" :value="value" />
  </div>
</template>

<style lang="scss" scoped>
.track {
  position: relative;
  display: grid;
  align-items: center;
  user-select: none;
}

.track:focus {
  outline: none;
}

.thumb {
  position: absolute;
  transform: translate(-50%, 0);
}
</style>

<script>
export default {
  props: {
    name: { type: String, default: '' },
    min: { type: Number, default: 0 },
    max: { type: Number, default: 100 },
    value: { type: Number, default: 0 },
    step: { type: Number, default: 0 },
    threshold: { type: Number, default: 0.5 }, // threshold in perccent of step value
    int: { type: Boolean, deafault: true }, // to round the value
    tabindex: { type: Number, default: -1 },
    disabled: { type: Boolean, deafault: false },
  },
  data: () => ({
    drag: false,
  }),
  computed: {
    valuePercent() {
      const p = (100 * (this.value - this.min)) / (this.max - this.min)
      if (p < 0) return 0
      if (p > 100) return 100
      return p
    },
  },
  watch: {
    value: {
      immediate: true,
      handler(value) {
        if (value < this.min) this.$emit('input', this.min)
        if (value > this.max) this.$emit('input', this.max)
      },
    },
  },
  methods: {
    onKey(ev) {
      if (this.disabled) return
      const clampedValue = (v) => {
        if (v < this.min) return this.min
        if (v > this.max) return this.max
        return v
      }

      if (ev.keyCode === 'ArrowLeft' || ev.keyCode === 37) {
        if (this.step > 0 && this.value > this.min) {
          this.$emit('input', clampedValue(this.value - this.step))
        }
      }
      if (ev.key === 'ArrowRight' || ev.keyCode === 39) {
        if (this.step > 0 && this.value < this.max) {
          this.$emit('input', clampedValue(this.value + this.step))
        }
      }
    },
    startDragging(ev) {
      if (this.disabled) return
      const handleDragging = (ev) => {
        const rect = this.$refs.track.getBoundingClientRect()
        const x = ev.clientX - rect.left
        let xPercent = x / (rect.right - rect.left)
        if (xPercent > 1) xPercent = 1
        if (xPercent < 0) xPercent = 0
        const absoluteValue = this.min + (this.max - this.min) * xPercent

        // 'sticky' value
        if (Math.abs(this.value - absoluteValue) < this.step * (1 - this.threshold)) return

        if (this.step > 0) {
          const closestValue = this.min + Math.round((absoluteValue - this.min) / this.step) * this.step
          this.$emit('input', this.int ? Math.round(closestValue) : closestValue)
        } else {
          this.$emit('input', this.int ? Math.round(absoluteValue) : absoluteValue)
        }
      }

      const dragOff = () => {
        this.drag = false
      }

      this.drag = true

      handleDragging(ev)
      document.addEventListener('mousemove', handleDragging)
      document.addEventListener('mouseup', function stopDragging(ev) {
        if (ev.button === 0) {
          document.removeEventListener('mousemove', handleDragging)
          document.removeEventListener('mouseup', stopDragging)
          dragOff()
        }
      })
    },
  },
}
</script>
