// Example of Range Input with only integer values

<template>
  <base-input-range
    :value="value"
    :min="min"
    :max="max"
    :step="step"
    :threshold="threshold"
    :int="true"
    :tabindex="1"
    @input="onInput"
  >
    <template v-slot:track>
      <div class="track-decor bg-act-s border border-act-s"></div>
    </template>
    <template v-slot:thumb="props">
      <div
        class="thumb-decor bg-act-s border border-act-s rounded-full hover:br-110"
        data-testid="track"
        :data-drag="props.drag"
      ></div>
    </template>
  </base-input-range>
</template>

<style lang="scss" scoped>
.track-decor {
  height: 10px;
}

.thumb-decor {
  height: 20px;
  width: 20px;
}

.thumb-decor[data-drag] {
  filter: brightness(110%);
}
</style>

<script>
export default {
  props: {
    min: { type: Number, default: 0 },
    max: { type: Number, default: 100 },
    value: { type: Number, default: 0 },
    step: { type: Number, default: 1 },
    threshold: { type: Number, default: 0.5 }, // threshold in perccent of step value
    tabindex: { type: Number, default: -1 },
  },
  methods: {
    onInput(value) {
      this.$emit('input', value)
    },
  },
}
</script>
