<template>
  <div class="container mx-auto px-8 bg-srf text-srf min-h-screen">
    <nav class="bg-p-d text-p-d flex flex-row">
      <ul class="flex flex-row">
        <li class="mr-8"><nuxt-link to="/">Home</nuxt-link></li>
        <li class="mr-8"><nuxt-link to="#">Colors</nuxt-link></li>
      </ul>
    </nav>
    <h1 class="bg-p text-p text-2xl my-8">Color system test</h1>
    <section class="bg-srf text-srf">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 bg-sfc text-sfc">
        <div class="flex flex-row text-center py-1">
          <div
            class="bg-p text-br-l text-lg font-bold border-br-l border-4 h-16 flex-1  flex items-center justify-center mx-1"
            >Brand light</div
          >
          <div
            class="bg-p text-br text-lg font-bold border-br border-4 h-16 flex-1  flex items-center justify-center mx-1"
            >Brand</div
          >
          <div
            class="bg-p text-br-d text-lg font-bold border-br-d border-4 h-16 flex-1  flex items-center justify-center mx-1"
            >Brand dark</div
          >
        </div>
        <div class="flex flex-row text-center py-1">
          <div class="bg-p text-p border-p border h-16 flex-1  flex items-center justify-center mx-1">Primary</div>
        </div>
        <div class="flex flex-row text-center py-1">
          <div class="bg-s text-s border-s border h-16 flex-1  flex items-center justify-center mx-1">Secondary</div>
        </div>
        <div class="flex flex-row text-center py-1">
          <div class="bg-scs text-scs border-scs border hover:br-110 h-16 flex-1 flex items-center justify-center mx-1"
            >Success</div
          >
          <div class="bg-wrn text-wrn border-wrn border hover:br-115 h-16 flex-1 flex items-center justify-center mx-1"
            >Warning</div
          >
          <div class="bg-dan text-dan border-dan border hover:br-125 h-16 flex-1 flex items-center justify-center mx-1"
            >Error</div
          >
        </div>
      </div>
      <div class="bg-bg text-bg my-4 p-4">
        <h2 class="text-xl mb-2">Background</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum accusantium quia consequatur ut! Non quasi
          facilis molestiae excepturi quo animi eum quod, voluptates distinctio tenetur error laudantium maiores aut
          ullam nostrum repellendus labore eveniet, esse deserunt ipsum earum enim minus obcaecati. Esse sed et,
          quibusdam aliquam earum quam neque, optio at doloremque reiciendis culpa consequatur tempora officia pariatur
          fugiat distinctio, laudantium similique rem inventore aut? Omnis, similique ullam quaerat aliquam quam
          consectetur odio earum maiores ipsa ratione enim officia eligendi nemo obcaecati tempore, doloremque sequi
          beatae repellendus porro tenetur, totam provident? Id, nobis facere distinctio exercitationem ratione dolores
          quia. Vero.
        </p>
      </div>
    </section>
  </div>
</template>
