<template>
  <div class="container mx-auto">
    <h1 class="number block mb-2">{{ testValue }}</h1>
    <form class="controls">
      <div class="input-wrapper m-2 p-1">
        <input-range
          v-model="testValue"
          name="volume"
          :min="-100"
          :max="200"
          :disabled="disableRange"
          class="focus-outline"
        />
      </div>
      <base-checkbox v-model="disableRange" name="isDisabled">Disabled: {{ disableRange }}</base-checkbox>
      <base-button class="bg-act hover:br-110 text-act font-bold py-2 px-4 rounded" type="submit">Submit</base-button>
    </form>
  </div>
</template>

<style lang="scss" scoped>
.input-wrapper:focus-within /deep/ .track {
  outline: solid orchid 5px;
}

.input-wrapper:focus-within /deep/ .thumb-decor {
  outline: solid lightblue 5px;
}
.input-wrapper {
  position: relative;
  width: 300px;
}

.input-wrapper:focus-within {
  outline: solid burlywood 5px;
}

.controls {
  --action-bg-color: rgb(66, 153, 225);
}
</style>

<script>
import InputRange from '@/components/input-range-int'
export default {
  components: {
    InputRange,
  },
  data() {
    return {
      testValue: 0,
      disableRange: false,
    }
  },
}
</script>
